extends layout

block content
  h1= title
  h3 Welcome, folks, to #{title}
  p 
    | This is a multi line paragraph. I'm testing the Jade stuff.
    | Apparently you have to use "|" on a new line or else it breaks the <p> tag.
